body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(79, 84, 84);
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #000000;
  padding: 2%;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  cursor: pointer;
}

nav img {
  max-width: 43px;
  height: auto;
}

#github-icon {
  max-width: 55px;
  height: auto;
}

#intro {
  background-image: url("https://imgur.com/BoFX3LM");
  background-size: cover;
  background-position: center center;
  padding: 100%;
}

#about-contents {
  max-width: 100%;
  min-width: 50%;
  animation: scaleAnimation 3s;
  transform-origin: center;
  
}

#about-text h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: -10px;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

#hi {
  font-size: 2vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: -100px;  
}

#princess {
  font-size: 5vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: -10px;
  margin-top: -10px;
  margin-left: -3.5px;
  overflow: hidden;
}

#about-text {
  background-color: rgba(233, 233, 233, 0.441);
  padding: 8vw;
  padding-right: 45vw;
  padding-left: 13vw;
  font-size: 1.2vw;
  text-size-adjust: 130%;
}

#about {
  background-color: white;
  background-image: url("images/About.jpg");
  background-size: cover;
  background-position: center center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#projects {
  background-color: white;
  padding: 20px;
}

.project-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
}

.icon-row {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.project-icons img {
  width: 20%;
  height: 100%;
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
}

.project-icons img:hover {
  transform: scale(1.05);
}

.popUp {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 251, 251);
  padding: 20px;
  border: 1px solid #000000;
  z-index: 1;
  /* padding-right: 70px; */
  max-width: 80vh;
  align-items: center;
  color: rgb(0, 0, 0);
  padding-top: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.image-navigation-container {
  max-height: 70vh;
  display: flex;

}

button {
  background: none;
  background-color: rgba(255, 255, 255, 0.404);
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 25px;
}

#projectImage {
  max-width: 100%;
  overflow: hidden;
  max-height: 60vh;
  object-fit: contain;
  margin: auto;
}

button:hover {
  background-color: rgb(153, 153, 153);
}

.popUp .popUpNav {
  background-color: rgb(184, 182, 182);
  padding: 10px;
  padding: 0px;
  text-align: right;
  margin-right: -19px;
  margin-left: -19px;
}
.popUp span {
  font-size: 24px;
  cursor: pointer;
  padding-right: 10px;
}

#maximize {
  margin-left: 00px;
}

#close {
  float: right;
}

#otherpursuits {
  background-color: #f8f5f4;
  padding: 20px;
}

#contact {
  background-color: #29231d;
  color: white;
  text-align: center;
  padding: 20px;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  background-color: pink;
}

.gallery {
  width: calc(50% - 10px);
  text-align: center;
  cursor: pointer;
  position: relative;
  
}

.gallery img {
  width: 90%;
  margin: 10px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  
}

.gallery:hover img {
  transform: scale(1.05);
}

.gallery p {
  margin-top: 10px;
}

.gallery::before {
  content: "";
  position: absolute;
  pointer-events: none;
}

form {
  max-width: 100vh;
  margin: 20px auto;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff00;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

form button {
  background-color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #e0e0e0;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #29231d;
  color: rgb(0, 0, 0);
}

@media screen and (max-width: 600px) {
  .gallery {
    width: 100%;
  }
}
